<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Diagnostic.Properties.Settings.DiagnosticConnectionString"
            connectionString="Data Source=shohagranasuvo\SQLEXPRESS;Initial Catalog=Diagnostic;Integrated Security=True;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="Diagnostic.Properties.Settings.NewDiagnosticConnectionString"
            connectionString="Data Source=SHOHAGRANASUVO\SQLEXPRESS;Initial Catalog=NewDiagnostic;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>